*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif, "Josefin Sans", sans-serif "Limelight",
    cursive "Montserrat", sans-serif "Open Sans", sans-serif;
}

.callout {
  background-color: rgb(225, 225, 225);
}

#main {
  margin: auto 0;
}

.thumb-wrapper {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.m-logo {
  width: 100%;
}

.body {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

h4 {
  font-family: "Limelight", cursive;
  font-size: 35px;
}

p {
  text-align: center;
  font-size: 25px;
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Josefin Sans";
}

#questions {
  display: none;
  padding: 5px;
  margin: 10px auto;
  /* width: 600px; */
  max-width: 80%;
  text-align: center;
  box-shadow: 0 0 10px 3px;
  font-size: 30px;
  background-image: url(assets/croppedscreen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-text {
  font-size: 30px;
}

#startButton {
  /* font-weight: bold; */
  padding: 2px;
  width: 240px;
  height: 95px;
  margin-left: 20px;
  margin-top: 5px;
  border: 5px groove;
  border-radius: 3px;
  border-color: rgb(192, 119, 36);
  background-color: rgb(156, 142, 10);
  background-image: url(assets/startButtonticketsmall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  border: 1px solid;
  background-color: #922201;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  /* color: black; */
  box-shadow: 2px 2px 1px 1px;
  font-family: "Josefin Sans";
}

.button:hover {
  background-color: #d34c23;
}

#scores {
  display: none;
  padding: 5px;
  margin: 10px auto;
  width: 50%;
  height: 70%;
  max-width: 60%;
  box-shadow: 0 0 2px 1px grey;
  font-size: 45px;
  text-align: center;
  font-family: "limelight";
  background-image: url(assets/lobbyfadedOu500pxt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#movieSearchBtn {
  display: none;
  padding: 5px;
  width: 350px;
  height: 145px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2px;
  margin-bottom: 10px;
  border: 2px groove;
  background-image: url(assets/movieSearchButton350px.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inputBox {
  display: none;
  text-align: center;
  border: 2px groove;
  padding: 10px;
  max-width: 50%;
  margin: 25%;
  margin-top: 10px;
  margin-bottom: 5px;
}

#movieInput {
  display: none;
  padding: 5px;
  margin-left: 60%;
}
